.bg-barro {
    background-color: #8E37A6; }
  
  body {
    background-image: linear-gradient(to bottom right, #e7d3ca, rgba(231, 211, 202, 0.25)); }

  main {
    min-height: 60vh;
    padding: 20px 0; }
  
  .titulo-index, .titulos {
    text-align: center;
    margin: 20px 0; }
  
  .titulos {
    background-color: #8E37A6;
    padding: 10px;
    color: whitesmoke; }
  
  .mapa {
    list-style: none;
    padding: 0; }
    .mapa a {
      text-decoration: none;
      color: white;
      transition: all 0.3s; }
      .mapa a:hover {
        transform: scale(1.1);
        font-weight: bold; }
      .mapa a:active {
        transform: scale(0.9); }
  
  .bi-whatsapp {
    transition: all 0.3s; }
    .bi-whatsapp:hover {
      color: #25D366; }
  
  .bi-envelope {
    transition: all 0.3s; }
    .bi-envelope:hover {
      color: #DB4437; }
  
  .bi-instagram {
    transition: all 0.3s; }
    .bi-instagram:hover {
      color: #405DE6; }
  
  .logo:hover::after {
    content: "INICIO";
    margin-left: 5px;
    font-size: 12px;
    color: white; }
  
  .navegacion li {
    transition: transform 0.3s; }
    .navegacion li:hover {
      transform: scale(1.1);
      font-weight: bold; }
    .navegacion li:active {
      transform: scale(0.9); }
  
  .boton {
    background-color: #8E37A6;
    color: white;
    transition: background 0.3s; }
    .boton:hover {
      background-color: #711d7a;
      color: white;
      border: solid 1px #711d7a; }
  
  .card {
    padding-top: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s 0.5s; }
    /* .card:hover {
      transform: scale(1.15);
      z-index: 10; } */
  
  .proyecto__texto {
    text-align: center;
    max-width: 800px;
    margin: 0 auto; }
    .proyecto__texto p {
      font-size: 1.5rem; }
    .proyecto__texto h3 {
      font-size: 2rem;
      font-weight: bold; }
  
  .proyecto__img {
    display: flex; }
  
  .card span {
    position: absolute;
    background-color: #8E37A6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    top: 20px;
    left: 12px;
    padding: 5px;
    animation: promotion 2s infinite; }
  
  @keyframes promotion {
    0% {
      background-color: #8E37A6;
      color: white; }
    50% {
      background-color: black; }
    100% {
      background-color: #8E37A6;
      color: white; } }
  
  /* media querie */
  @media (max-width: 768px) {
    .proyecto__img {
      flex-direction: column; }
      .proyecto__img img {
        margin: 20px 0; } }
  
  .about {
    font-size: 20px;
    line-height: 2rem; }
    .about span {
      font-weight: bold; }
    .about img {
      float: right;
      width: 400px; }
  
  .servicios {
    margin-top: 50px; }
    .servicios__detalle {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      justify-items: center;
      text-align: center;
      font-size: 1.6rem;
      margin-top: 30px; }
      .servicios__detalle-card {
        max-width: 400px; }
        .servicios__detalle-card img {
          width: 95%;
          margin: 0 10px 10px; }
  
  /* media querie */
  @media (max-width: 768px) {
    .servicios__detalle {
      grid-template-columns: 1fr; } }
  
  .canales {
    font-size: 1.3rem;
    text-align: left; }
    .canales-nota {
      font-size: 1rem; }
  
  .contacto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 100px; }
    .contacto__btn {
      text-align: center; }
  
  /* media querie */
  @media (max-width: 992px) {
    .contacto {
      grid-template-columns: 1fr;
      justify-items: center; }
    .formulario {
      max-width: 300px; } }


.tarjetaCarrito{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  /* border: solid 1px #711d7a;
  padding: 10px; */
}

.carrito {
  margin: 20px auto;
  max-width: 500px;
}

.divCarrito{
 width: 170px;
}

.divCarrito h6{
  text-align: center;
}

.tarjetaCarrito img {
  max-width: 100px;
  margin: 0 10px 0 20px;
}

.tarjetaCarrito p {
  margin: 0;
}

.botonSumaResta {
  width: 40px;
  height: 40px;
  margin: 5px 0;
}

.tienda {
  margin-left: 0;
  margin-right: 0;
}

.filtro {
  border-top: solid 1px #711d7a;
  border-bottom:  solid 1px #711d7a;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.opcionesFiltro {
  display: flex;
  justify-content: space-between;
}

.botonesFiltro button{
  margin: 15px;
  padding: 2px 5px;
}

.toggleFiltro {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}

.ocultar {
  display: none;
}

.botonComprar {
  width: auto;
  margin: 15px auto 0;
}

.botonVerCarrito{
  /* padding: 5px; */
  margin-left: 20px;
  border: none;
  border-radius: 50px;
  /* border-radius: 5px; */
  /* background-color: white; */
  background-color: #8E37A6;
  /* position: fixed;
  right: 121px;
  top: 148px; */
  /* z-index: 10; */
  height: 50px;
  width: 50px;
  line-height: 15px;
  font-size: 1rem;
  /* color: whitesmoke; */
}

.iconoCarrito {
  width: 35px;
  /* color: #e7d3ca; */
  /* font-size: 1.5rem;
  color: whitesmoke;
  margin: 0; */
}

.contadorCarrito {
  position: relative;
  color: whitesmoke;
  font-weight: 500;
  right: -25px;
  top: -40px;
  margin: 0;
}

.leyendaCarrito{
  position: relative;
  margin: 0;
}

.resumenCarrito {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 15px;
  border-top: solid 1px #8E37A6;
  border-bottom: solid 1px #8E37A6;
  text-align: center;
}

.resumenCarrito p {
  margin: 5px;
}

.comprar {
  max-width: 500px;
  margin: 0 auto;
}

.seccionComprar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid 2px #8E37A6;
  border-radius: 10px;
}

.seccionComprar h6 {
text-align: center;
padding-bottom: 7px;
border-bottom: solid 1px #8E37A6;
}

.botonesCompra {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.textoDireccion{
  width: 175px;
  margin: 5px;
  text-align: right;
}

.finalizarCompra {
  padding: 10px;
  border: solid 2px #8E37A6;
  border-radius: 10px;
}

.resumenCompra {
  display: flex;
  flex-direction: column;
  margin: 5px 50px;
}

.resumenCompra h6 {
  margin: 2px 0;
}

.resumenCompraDetalle{
 display: flex;
 justify-content: space-between;
}

.resumenCompraDetalle p {
  margin: 0;
}

.resumenCompraDetalle img {
  width: 50px;
  margin-right: 100px;
}

.resumenValores {
  border-top: solid 1px #8E37A6;
  margin: 10px 0;
}

.resumenValores p{
  margin: 5px 60px;
  width: 340px;
  text-align: right;
}

.mensajes {
  text-align: center;
  margin-top: 50px;
}